{:paths ["src" "resources"]
 :aliases
 {:cli
  {:main-opts ["-m" "vibe-flow.system"]}

  :dev
  {:extra-paths ["dev" "test"]}

  :bootstrap
  {:main-opts ["-m" "vibe-flow.system" "bootstrap"]}

  :test
  {:extra-paths ["test"]
   :main-opts ["-m" "vibe-flow.test-runner"]}

  :governance
  {:main-opts ["-m" "vibe-flow.governance.cli"]}}}
