{:target-root "/home/mikewong/proj/main/vibe-flow",
 :repo-kind :git,
 :installed-at "2026-04-23T06:19:27.805011279Z",
 :current-branch "main",
 :current-head "3767f1953f711edccd2b6b51b619aa6c32157439",
 :workflow-root "/home/mikewong/proj/main/vibe-flow/.workflow"}
